﻿<!--<h1>Hi {{vm.user.username}}!</h1>-->
<!--<p>You're logged in!!</p>-->
<!--<h3>All registered users:</h3>-->
<!--<ul>-->
    <!--<li ng-repeat="user in vm.allUsers">-->
        <!--{{user.username}} ({{user.firstName}} {{user.lastName}})-->
        <!-- - <a ng-click="vm.deleteUser(user.id)">Delete</a>-->
    <!--</li>-->
<!--</ul>-->
<!--<p>&nbsp;</p>-->
<!--<p><a href="#!/login" class="btn btn-primary">Logout</a></p>-->
<header class="masthead" style="background-image: url(assets/img/black-labrador-1920x1080-labrador-retriever-breed-dog-dark-hd-8508.jpg);">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in"><span>Bun venit pe LostPet!</span></div>
            <div class="intro-heading text-uppercase"><span>cauta cainele!</span>
            </div>
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" role="button" href="#!/gasit" style="margin: 16px;">Am gasit un caine</a>
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger"  role="button" href="#!/pierdut" style="margin: 16px;">Am pierdut un caine</a>
        </div>
    </div>
</header>
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="text-capitalize section-heading">LostPet</h2>
                <h3 class="text-muted section-subheading">Gaseste stapanul unui caine pierdut sau posteaza un anunt cu un caine pierdut</h3>
            </div>
        </div>
        <div class="row justify-content-center text-center">
            <div class="col-md-4"><span class="fa-stack fa-4x" style="background-image: url(&quot;assets/img/dog_found.png&quot;);background-size: contain;"></span>
                <h4 class="section-heading">Caine Gasit</h4>
                <p class="text-muted">Cauta un anunt in lista cu caini pierduti sau creaza un nou anunt cu un caine pe care l-ai gasit.</p>
            </div>
            <div class="col-md-4"><span class="fa-stack fa-4x" style="background-image: url(&quot;assets/img/dog_lost.png&quot;);background-size: contain;"></span>
                <h4 class="section-heading">Caine Pierdut</h4>
                <p class="text-muted">Posteaza un anunt cu un caine pe care l-ai pierdut sau cauta in lista de anunturi cu caini gasiti de catre alte persoane.</p>
            </div>
        </div>
    </div>
</section>