<!--<!DOCTYPE html>-->
<!--<html>-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>LostPet (Backup 1546454021369)</title>
    <meta name="description" content="Gaseste stapanul unui caine pierdut sau posteaza un anunt daca ti-ai pierdut cainele!">
    <!--<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">-->
    <!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">-->
    <!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script">-->
    <!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic">-->
    <!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700">-->
    <!--<link rel="stylesheet" href="assets/fonts/font-awesome.min.css">-->
    <!--<link rel="stylesheet" href="assets/css/Article-List.css">-->
    <!--<link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css">-->
    <!--<link rel="stylesheet" href="assets/css/List-Item.css">-->
    <!--<script src="app\lib\angular.min.js"></script>-->
    <!--<script src="assets\js\hello.js"></script>-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.min.js"></script>-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-route.min.js"></script>-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-aria.min.js"></script>-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-messages.min.js"></script>-->
    <!--<script src="https://gitcdn.xyz/repo/angular/bower-material/v0.10.1-rc4/angular-material.js"></script>-->
    <!--<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/assets-cache.js"></script>-->
    <!--<link rel="stylesheet" type="text/css" href="https://gitcdn.xyz/repo/angular/bower-material/v0.10.1-rc4/angular-material.css">-->
    <!--&lt;!&ndash; <script src="assets/js/agency.js"></script> &ndash;&gt;-->
</head>

<body>
    <!--<nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark" id="mainNav">-->
        <!--<div class="container"><a class="navbar-brand" href="index.html"><img src="assets/img/dog-face.png" style="color: rgb(254,197,3);margin: 8px;">LostPet</a><button class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navbarResponsive" type="button"-->
                <!--data-toogle="collapse" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>-->
            <!--<div class="collapse navbar-collapse" id="navbarResponsive">-->
                <!--<ul class="nav navbar-nav ml-auto text-uppercase">-->
                    <!--<li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="pierdut.html">CAini Gasiti</a></li>-->
                    <!--<li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="gasit.view.html" style="margin-right: 120px;">Caini Pierduti</a></li>-->
                    <!--<li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="login.html">Log in</a></li>-->
                    <!--<li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="registration.html">Cont Nou</a></li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
    <!--</nav>-->

<div class="gridListdemoBasicUsage" ng-controller="Hello">
        <h1>Caini Pierduti: </h1>
        <div  class='md-padding' layout="row" layout-wrap>
              <md-card style="width: 300px;" ng-repeat="listing in listings" ng-click="goLogin(listing.id)">
                <img  ng-src="http://localhost:63342/LostPet/backend_main/templates/{{listing.imgUrl}}" class="md-card-image" ng-alt="{{imageSrc}}">
                <md-card-content>
                  <h2>{{listing.title}}</h2>
                  <p>{{listing.abstractField}}</p>
                </md-card-content>

              </md-card>
            </div>
    </div>
    </div>
    <!--<footer>-->
        <!--<div class="container">-->
            <!--<div class="row">-->
                <!--<div class="col-md-4"><span class="copyright">Copyright&nbsp;© LostPet 2018</span></div>-->
                <!--<div class="col-md-4">-->
                    <!--<ul class="list-inline social-buttons">-->
                        <!--<li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>-->
                        <!--<li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>-->
                        <!--<li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>-->
                    <!--</ul>-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                    <!--<ul class="list-inline quicklinks">-->
                        <!--<li class="list-inline-item"><a href="#">Privacy Policy</a></li>-->
                        <!--<li class="list-inline-item"><a href="#">Terms of Use</a></li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</footer>-->

    <!--<script src="assets/bootstrap/js/bootstrap.min.js"></script>-->


</body>

<!--</html>-->
