
<div class="container profile profile-view" id="profile">

    <div class="row">
        <div class="col-md-12 alert-col relative">
            <div class="alert alert-info absolute center" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button><span>Profile save with success</span></div>
        </div>
    </div>
    <form role="form" >
        <fieldset ng-disabled="!isOwnProfile">
            <div class="form-row profile-row">
                <div class="col-md-4 relative">
                    <div class="avatar" >
                        <!--<div class="avatar-bg center">-->
                        <img class="avatar-bg center" style="  vertical-align: middle;width: 300px;height: 300px; border-radius: 50%;" ng-src="{{imageSrc}}" >
                        <!--</div>-->
                    </div>

                </div>
                <!--<input type="file" ng-file-select="vm.onFileSelect()" ng-model="imageSrc" >-->
                <!--<img ng-src="{{imageSrc}}" width="400" height="400" >-->
                <div class="col-md-8">
                    <h1>Profilul lui: {{profil.username}}
                    <md-button  class="" style="margin-right:40px;margin-bottom: 20px; padding:0; height:50px; min-height:1px;" >
                        <md-icon ng-click="newChat()" aria-label="Edit" class="material-icons" style="font-size:40px; min-height:1px;">chat</md-icon>
                    </md-button>
                    </h1>
                    <div class="form-row">
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group"><label>Username </label><input class="form-control" type="text" name="username" ng-model="profil.username"/></div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group"><label>Adresa </label><input class="form-control" type="text" name="adresa" ng-model="profil.address"/></div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group"><label>Telefon </label><input class="form-control" type="text" name="telefon" ng-model="profil.telephone"/></div>
                        </div>
                    </div>
                    <div class="form-group"><label>Email </label><input class="form-control" type="email" autocomplete="off" required name="email" ng-model="profil.email"/></div>

                </div>
            </div>
        </fieldset>
    </form>
</div>

<div ng-if="!isOwnProfile" class="gridListdemoBasicUsage">
    <h1>Anunturi postate de:  {{username}}</h1>
    <div  class='md-padding' layout="row" layout-wrap>
        <md-card style="width: 300px;" ng-repeat="listing in listings" ng-click="goToDetaliiAnunt(listing.id)">
            <img  ng-src="http://localhost:8089/images/files/{{listing.imgUrl}}" class="md-card-image" style="height: 300px;"  ng-alt="{{imageSrc}}">
            <md-card-content>
                <h2>{{listing.title}}</h2>
                <p>{{listing.abstractField}}</p>
            </md-card-content>

        </md-card>
    </div>
</div>
