

<div class="container profile profile-view" id="profile">

    <div class="row">
        <div class="col-md-12 alert-col relative">
            <div class="alert alert-info absolute center" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button><span>Profile save with success</span></div>
        </div>
    </div>
    <form role="form" >
        <fieldset >
        <div class="form-row profile-row">
            <div class="col-md-4 relative">
                <div class="avatar">
                    <!--<div class="avatar-bg center">-->
                    <img class="avatar-bg center" style="  vertical-align: middle;width: 300px;height: 300px; border-radius: 50%;" ng-src="{{imageSrc}}" >

                    <input  type="file" ng-file-select="vm.onFileSelect()" ng-model="imageSrc">

                    <!--</div>-->
                </div>

            </div>
            <!--<input type="file" ng-file-select="vm.onFileSelect()" ng-model="imageSrc" >-->
            <!--<img ng-src="{{imageSrc}}" width="400" height="400" >-->
            <div class="col-md-8">
                <h1>Profil</h1>
                <hr />
                <div class="form-row">
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group"><label>Username </label><input class="form-control" type="text" name="username" ng-model="profil.username"/></div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group"><label>Adresa </label><input class="form-control" type="text" name="adresa" ng-model="profil.address"/></div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group"><label>Telefon </label><input class="form-control" type="text" name="telefon" ng-model="profil.telephone"/></div>
                    </div>
                </div>
                <div class="form-group"><label>Email </label><input class="form-control" type="email" autocomplete="off" required name="email" ng-model="profil.email"/></div>
                <div >
                <div class="form-row">
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group"><label>Password </label>
                            <input class="form-control" id="id_password" type="password" name="password" autocomplete="off" ng-change="evaluateChange(this)" ng-model="profil.new_password"/></div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group"><label>Confirm Password</label>
                            <input class="form-control" type="password" name="confirmpass" autocomplete="off" ng-model="profil.new_password_conf" ng-change="evaluateChange(this)" />
                        </div>
                    </div>
                </div>
                <hr />
                <div class="form-row">
                    <div class="col-md-12 content-right"><button class="btn btn-primary form-btn" ng-click="uploadFile($files)" type="submit">SAVE </button>

                </div>
                </div>
            </div>
        </div>
        </div>
        </fieldset>
    </form>
</div>

